
@font-face {font-family: "iconfont";
  src: url('iconfont.eot'); /* IE9*/
  src: url('iconfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff') format('woff'), /* chrome、firefox */
  url('iconfont.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
  url('iconfont.svg#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
.icon-06:before { content: "\e600"; }
.icon-08:before { content: "\e601"; }
.icon-03:before { content: "\e602"; }
.icon-04:before { content: "\e603"; }
.icon-01:before { content: "\e604"; }
.icon-02:before { content: "\e605"; }
.icon-05:before { content: "\e606"; }
.icon-061:before { content: "\e607"; }
.icon-011:before { content: "\e608"; }
.icon-021:before { content: "\e609"; }
.icon-031:before { content: "\e60a"; }
.icon-041:before { content: "\e60b"; }
.icon-051:before { content: "\e60c"; }
.icon-062:before { content: "\e60d"; }
.icon-07:before { content: "\e60e"; }
.icon-071:before { content: "\e60f"; }
.icon-09:before { content: "\e610"; }
.icon-11:before { content: "\e611"; }
.icon-012:before { content: "\e612"; }
.icon-022:before { content: "\e613"; }
.icon-032:before { content: "\e614"; }
.icon-042:before { content: "\e615"; }
.icon-052:before { content: "\e616"; }
.icon-063:before { content: "\e617"; }
.icon-072:before { content: "\e618"; }
.icon-081:before { content: "\e619"; }
.icon-091:before { content: "\e61a"; }
.icon-10:before { content: "\e61b"; }
.icon-111:before { content: "\e61c"; }
.icon-013:before { content: "\e61d"; }
.icon-023:before { content: "\e61e"; }
.icon-033:before { content: "\e61f"; }
.icon-043:before { content: "\e620"; }
.icon-mail:before { content: "\e621"; }
.icon-coupon:before { content: "\e622"; }
.icon-video:before { content: "\e623"; }
.icon-smile:before { content: "\e624"; }
.icon-image:before { content: "\e625"; }
.icon-clock:before { content: "\e626"; }
.icon-aliicon:before { content: "\e627"; }
.icon-aliicon1:before { content: "\e628"; }
.icon-aliicon2:before { content: "\e629"; }
.icon-024:before { content: "\e62a"; }
